body {
    background-color: #9c9f84;
}


#main1 {
    background-color: #e5e4d7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#par {
    color: red;
    position: relative;
    top: 5px;
    left: 5px;
}

#main2 {
    background-color: #e5e4d7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

#square {
    background: red;
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.blue {
    color:blueviolet ;
    cursor: url(Images/icon.ico), default;
}
